<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Novel</title>
    <link rel="stylesheet" type="text/css" href="1.css">
    <link rel="stylesheet" href='{{ url_for("static", filename="1.css") }}'>
</head>

<body>
    <div class="home">
        <a href="/2">
            <h1>NOVEL PROJECT</h1>
        </a>
    </div>

    <a href="#" id="top">Top</a>

    <div class="menu-color">
        <ul id="menu">
            <li><a href="/">ホーム</a></li>
            <li><a href="/3">小説一覧</a></li>
        </ul>
    </div>

    <div class="introduction">
        <h2>サークル紹介</h2>
        <p>このサークルは二人の人間によって構成されています</p>
    </div>
    <div class="container">
        <div class="Novelist">
            <ul>
                <p>長野ゆうと</p>
                <p>藍原史郎</p>
            </ul>
        </div>
        <p>↓ここから下は藍原史郎の趣味</p>
    </div>
    <p>このサイトを訪れた人間は全員FGOをやりなさい</p>
    <iframe width="500" height="285" src="https://www.youtube.com/embed/nGwvNG_DWE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="500" height="285" src="https://www.youtube.com/embed/bMy11YTf6ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

</html>